*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
    background: rgb(84, 36, 167);
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
position: relative;
width: 30px;
height: 30px;
background: rgb(19, 217, 174);
margin: 0 5px;
border-radius: 50%;
box-shadow: 0 0 0 10px green,
0 0 50px green,
0 0 100px green;
animation: animate 20s linear infinite;
animation-duration: calc(50s / var(--i));
}

.bubbles span:nth-child(even)
{
background: red;
box-shadow: 0 0 0 10px rgb(215, 107, 61),
0 0 50px red,
0 0 100px red;
}


@keyframes animate{
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(10vh) scale(1);
    }
}

